!!! 5
%html{:lang => "en"}
	%head
		%meta{:charset => "utf8"}
		%meta{:content => "to fill in", :name => "description"}
		%meta{:content => "", :name => "author"}
		%title Skeleton		
		/[if lt IE 9]
			%script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
		%link{:rel => "stylesheet", :href => "css/bootstrap.css"}
		%link{:rel => "stylesheet", :href => "style.css"}

	%body
		%nav
			%h1
				Hello Haml
		%section#test
			%h2
		%section#todoapp
			%header#header
				%h1 Todo
				%input{:id => 'new-todo', :placeholder => 'what needs to be done ??'}
			%section#main
				%ul#todo-list
					%script{:id => 'item-template', :type => 'text/template'}
						%div.view
							%input.toggle{:type => 'checkbox'}
							%label 
								<%= title %>
							%input.edit{:value => "<%= title %>"}

			.btn
				click

		%script{:type => "text/javascript", :src => "js/libraries/jquery.js"}
		%script{:type => "text/javascript", :src => "js/libraries/underscore.js"}
		%script{:type => "text/javascript", :src => "js/libraries/backbone.js"}
		%script{:type => "text/javascript", :src => "js/libraries/backbone.localStorage.js"}
		%script{:type => "text/javascript", :src => "js/test.js"}
		%script{:type => "text/javascript", :src => "js/backbone/backbone.js"}
